# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key

# MongoDB Configuration
MONGODB_URI=mongodb://wiseu:wiseu@localhost:27017/wiseu

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key

# Server Port
PORT=8000

# Data Encryption Key
ENCRYPT_SECRET=your_data_encryption_key

# Debug Mode
DEBUG=False